
<h1 class="center">So you need a Halloween costume...</h1>
<p class="center">Are you a guy or a girl?</p>

<div style="text-align:center;">
    <button type="button" 
    		id="dude" 
    		value="Show maleRand" 
    		onclick="showMaleRand(), chick.style.visibility='hidden', this.style.visibility='hidden', loading.style.visibility='visible'">
    Dude</button>
    <button type="button" 
    		id="chick" 
    		value="Show femaleRand" 
    		onclick="showFemaleRand(), dude.style.visibility='hidden', this.style.visibility='hidden', loading.style.visibility='visible'">
    Chick</button>
</div>

<div id="maleRand" style="display:none;" class="center">
	<script>
		document.write(maleClick);
	</script>
</div>

<div id="femaleRand" style="display:none;" class="center">
	<script>
		document.write(femaleClick);
	</script>
</div>
<div style="text-align:center;">
    <button type="button"
    		id="redo"
    		value="Refresh page"
    		style="visibility:hidden"
    		onClick="history.go(0)">Screw that! Give me something else.</button>
</div>
