
<p class="center">So you need a Halloween costume...</p>
<p class="center">Are you a guy or a girl?</p>

<div style="text-align:center;">
    <button type="button">Dude</button>
    <button type="button">Chick</button>
</div>

<div>
	<script>
		document.write(maleClick);
	</script>
</div>

<div>
	<script>
		document.write(femaleClick);
	</script>
</div>

<div style="text-align:center;">
    <button type="button">Screw that!</button>
</div>


<!--p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>-->